# CODEOWNERS for Chesster

# ML folder: assign owners who should be requested for changes in `ML/`.
/ML/ @RaghavRamesh125 @William-Ong1 @danyuanwang @shreyanmitra

# Data folder: assign owners who should be requested for changes in `Data/`.
/data/ @danyuanwang @lbmlkCodes @masont7

# Frontend folder: assign owners who should be requested for changes in `Frontend/`.
/frontend/ @shreyanmitra @lbmlkCodes
