[project]
name = "chesster"
dynamic = ["version"]
requires-python = ">=3.10"
readme = "README.md"

[tool.black]
line-length = 80

[tool.pytest.ini_options]
norecursedirs = [
    ".git",
    "node_modules",
    "venv",
    ".venv",
    "third_party",
    "maia-individual"
]
